<h3>Hi <%= @user.name %> !</h3> <%= link_to "Logout", logout_path%>

<br/> You owe : <%=0 if @debts.present? && ! @debts.sum(:amount)%><br/>
<%@debts.each do |debt|%>
  <%if debt.amount > 0%>
    You owe <%= User.find(debt.creditor_id).name%> <%=debt.amount%> on account of <%=debt.note%> <br/>
  <%end%>
<%end%>


<br/> You get back : <%= 0 if @credits.present? && !@credits.sum(:amount) %><br/>
<%@credits.each do |credit|%>
  <%if credit.amount > 0%>
    You must get back from <%= User.find(credit.debtor_id).name%> <%=credit.amount%> on account of <%=credit.note%> <%= link_to Group.find(credit.group_id).name, group_path(credit.group_id) if credit.group_id.present? %> <br/>
  <%end%>
<%end%>
<br/>

<br/><br/>

<%= form_tag("/transactions", method: "post") do %>
  <%= label_tag(:creditor, "Person in the group giving the money") %>
  <%= text_field_tag(:creditor) %><br/>
  <%= label_tag(:debtor, "Person in the group getting the money") %>
  <%= text_field_tag(:debtor) %><br/>
  <%= label_tag(:amount, "Amount being lent") %>
  <%= text_field_tag(:amount) %><br/>
  <%= label_tag(:note, "Note about the trnasction") %>
  <%= text_field_tag(:note) %><br/>
  <%= submit_tag("Add Transaction") %>
<% end %>
<br/><br/>
<h5>


<br/><br/>Groups you are a part of<br/>
<% @user.groups.each do |group|%>
<%= link_to group.name, group_path(group.id)%>
<%end%>
<br/><%=link_to "Create a new group", {controller: "groups" , action: "new"}%>



